server:
  servlet:
    context-path: /api

logging:
  level:
    com:
      cepsearch:
        client: TRACE

feign:
  client:
    config:
      default:
        loggerLevel: full
        defaultRequestHeaders:
          user-agent: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246'

app:
  client:
    brasilapi:
      cep:
        url: https://brasilapi.com.br/api/cep/v2